<div class="root">
  <div class="root-header">
    <h2 class="label-character">All Characters</h2>
  </div>

  <div *ngFor="let item of characters">
    <div class="ant-row" style="margin: -8px -16px;">
      <div class="ant-col" style="padding: 8px 16px;">
        <div class="isis" style="opacity: 1;">
          <div class="img-container">
            <img [src]="item.thumbnail.path + '/portrait_incredible.' + item.thumbnail.extension" class="card-img">
          </div>
          <div class="mega-container">
            <h5>{{item.name}}</h5>
            <p class="card-desc">{{item.description}}</p>
            <div class="view-card"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
