.header-main{
  width: 100%;
  padding: 20px 20px 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 37, 63);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.header-wid{
  min-width: 95px;
  min-height: 50px;
  margin-bottom: 20px;
}
.list {
  width: 100%;
  min-height: 38px;
  max-width: 500px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px;
}

.active {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-bottom: 4px solid rgb(1, 180, 228);
  border-radius: 2px;
}
.li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}
.not-active {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
}
