<div class="carousel">
  <div class="carousel-background">
    <div class="slider">
      <div class="slick-list">
        <div class="slick-track" style="opacity: 1;width: 5201px">
          <div style="outline: none; width: 743px;position: relative;left: 0px;opacity: 0;transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
            <div>
              <div class="carousel-item" style="width: 100%;display: inline-block">
                <div class="slide">
                  <div class="item">
                    <div class="charts">
                      <canvas style="height: 225px;width: 450px; display: block">

                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
